@model covid_19.Models.allDTO

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All</h1>

<p>
    <a asp-action="Index" asp-controller="web" class="btn btn-outline-primary">Reload</a> |
    @*<form id="selectLanguage" asp-controller="All" asp-action="PostAll" asp-route-returnUrl="@Context.Request.Path" method="post" role="form">
            <div>
                <button type="submit" name="culture" value="@culture.Name">
                    Save
                </button>
            </div>
        </form>*@

    <a asp-action="Save" asp-controller="web" class="btn btn-outline-secondary">Save</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cases)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deaths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.recovered)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @DateTime.Now.ToString("yyyy-mm-dd hh:mm:ss")
            </td>
            <td>
                @Html.DisplayFor(model => model.cases)
            </td>
            <td>
                @Html.DisplayFor(model => model.deaths)
            </td>
            <td>
                @Html.DisplayFor(model => model.recovered)
            </td>
        </tr>
    </tbody>
</table>

<form asp-action="Create">

    <input type="submit" value="Create" class="btn btn-outline-primary" />
</form>